<div class="bg-primary-200">
    <div class="container">
        <div class="py-6 flex items-center justify-center gap-4 md:gap-6">
            <p class="text-h5 md:text-h4">加入會員取得 9 折優惠</p>
            <button class="btn btn-sm btn-filled md:btn" onclick="location.href='./login-page.html'">
                馬上註冊
            </button>
        </div>
    </div>
</div>