<footer class="bg-neutral-100">
    <div class="container">
        <nav class="flex pt-16 mb-6">
            <h1 class="flex mr-auto">
                <a href="#" class="bg-[url('/assets/images/logo.svg')] w-[129px] h-[46px] indent-[101%] overflow-hidden whitespace-nowrap block">URBNSTEP</a>
            </h1>

            <ul class="ml-6 flex">
                <li>
                    <button class="btn">
                        商品列表
                    </button>
                </li>
                <li>
                    <button class="btn">
                        品牌故事
                    </button>
                </li>
            </ul>

        </nav>
        <div class="text-neutral-600 border-t border-neutral-300 pt-8 pb-16 text-p-sm text-center space-y-1">
            <p>Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>