<footer class="bg-neutral-100">
    <div class="container">
        <nav class="flex flex-col pt-8 px-3 pb-6 gap-2
                    md:flex-row md:pt-16 md:pb-6 md:px-0">
            <h1 class="flex mr-auto">
                <a href="./index.html" class="bg-[url('/assets/images/logo.svg')] w-[129px] h-[46px] indent-[101%] overflow-hidden whitespace-nowrap block">URBNSTEP</a>
            </h1>

            <ul class="flex flex-col gap-1
                        md:flex-row md:gap-10">
                <li>
                    <button class="btn md:px-0" href="./product-list.html">
                        商品列表
                    </button>
                </li>
                <li>
                    <button class="btn md:px-0" href="./story.html">
                        品牌故事
                    </button>
                </li>
            </ul>

        </nav>
        <div class="text-neutral-600 border-t border-neutral-300 pt-8 pb-8 text-p-sm text-center space-y-1
                    md:pb-16">
            <p>Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>